@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    height: 100%;
}

body {
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #eaf0f1;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    flex: 1 0 auto;
}

/*HEADER START*/

.container-header {
    background: url('/images/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 40px;
    max-width: 100%;
}

.user-absolute-block {
    display: inline-block;
    padding: 5px 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-style: italic;
    color: #ffffff;
    font-size: 0.7rem;
    max-width: 400px;
}

.user-absolute-block div:nth-child(2) {
    text-align: center
}

.avatar-user-block {
    max-width: 150px;
    max-height: 70px;
    margin-top: 10px;
}

.menu {
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.menu li:not(:first-child) {
    margin-left: 20px;
}

.menu li:not(.spacer) {
    background: rgba(105, 105, 105, 0.85);
    font-size: 1.1rem;
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px 10px 0 0;
}

.menu li:not(.spacer):hover {
    background: #eaf0f1;
    color: #696969;
}

.menu li.selected {
    background: #eaf0f1;
    color: #696969;
}

.menu .spacer {
    width: 120px;
    text-align: center;
    background: #eaf0f1;
    border-radius: 10px 10px 0 0;
}

.menu .spacer > img {
    width: 70%;
}

.avatar {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.avatar-holder {
    position: relative;
}

.global-error {
    display: inline-block;
    color: white;
    padding: 5px 10px;
    background: #ff0000;
    position: absolute;
    top: 20px;
    left: 20px;
}

/*HEADER END*/
/*FORMS START*/

.login-form {
    width: 305px;
    margin-left: 60px;
}

form.flex {
    flex-flow: row wrap;
    justify-content: space-between;
}

form.flex fieldset:not(:last-child) {
    margin-left: 5%;
    flex: 0 0 45%;
    min-width: 350px;
    border: 0;
}

form.flex fieldset:nth-child(3) {
    flex: 1 0 100%;
    border: 0;
    text-align: right;
    padding-right: calc(45% - 310px);
}

.login-form p,
.register-form p,
.create-form p {
    color: #f1457e;
}

.input-wrapper {
    margin: 20px 0;
}

.input-wrapper.plane-add-accessory button {
    background: none;
    border: solid 2px #7988f1;
    border-radius: 7px;
    padding: 5px 7px 3px 7px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}

.input-wrapper.plane-add-accessory button:hover {
    background: #7988f1;
    color: #ffffff;
    font-weight: bold;
}

.input-wrapper label {
    display: inline-block;
    width: 110px;
}

.input-wrapper input,
.input-wrapper select {
    width: 200px;
    padding: 5px;
    border: solid 1px #696969;
    border-radius: 0 7px 7px 0;
    outline: none;
}

.input-wrapper textarea {
    padding: 5px;
    border: solid 1px #696969;
    border-radius: 0 7px 7px 0;
    outline: none;
    width: 315px;
    height: 200px;
}

form.create-form .checkbox-wrapper label {
    min-width: 50px;
}

form.create-form .checkbox-wrapper input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
    margin-right: 50px;
}

input[type="submit"] {
    background: #7988f1;
    border: 0;
    padding: 7px 12px;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #9da2f1;
}

input[type="file"] {
    border: none;
}

.company-error {
    display: none;
    margin-left: 115px;
    font-size: small;
    color: red;
}

.clarificationAcsryAdd {
    font-size: small;
    margin-top: 10px;
}

/*FORMS END*/
/*CREATE ARTICLE START*/

.create-content {
    flex-flow: row wrap;
}

.create-content aside {
    flex: 0 0 20%;
    padding-left: 40px;
    border-right: solid 4px #ffffff;
}

.create-content main {
    flex: 1 80%;
}

.btn-div {
    margin-top: 20px;
    padding: 1px 0;
}

.btn-div span {
    font-size: 1.2rem;
    padding: 5px 40px 0 0;
    cursor: pointer;
}

.btn-div span:hover {
    border-bottom: solid 4px #ffffff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

/*add accessory container start*/

.addAccessory-container {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}

.addAccessory-container-inner {
    width: 512px;
    height: 512px;
    border: solid 2px #696969;
    border-radius: 20px;
    background: #7988f1;
    opacity: 0.95;
    padding: 5px 20px 20px 20px;
    position: absolute;
    top: calc(50% - 256px);
    left: calc(50% - 256px);
    flex-direction: column;
    justify-content: flex-start;
}

.addAccessory-container-inner>div:first-child {
    color: #ffffff;
    text-align: right;
    font-size: 1.5rem;
}

.addAccessory-container-inner>div:last-child {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: auto;
    align-self: center;
}

#close-btn {
    cursor: pointer;
    padding: 3px;
}

#add-accessory-btn {
    cursor: pointer;
}

.input-wrapper-column {
    margin: 20px 0 0;
    align-self: center;
}

.input-wrapper-column label {
    color: #ffffff;
    width: 110px;
}

.input-wrapper-column input,
.input-wrapper-column select {
    width: 200px;
    padding: 5px;
    border: solid 1px #696969;
    border-radius: 0 7px 7px 0;
    background: #eaf0f1;
    outline: none;
}

#items {
    padding: 10px;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#items::-webkit-scrollbar {
    width: 10px;
}

#items::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #696969;
}

#items>div {
    margin-top: 10px;
    cursor: pointer;
}

#items>div:hover {
    color: #ffffff;
    position: relative;
}

#items>div:not(.selected):hover::after {
    content: "select this accessory";
    padding: 5px 7px;
    background: #eaf0f1;
    font-size: 0.7rem;
    font-weight: bolder;
    color: #696969;
    position: absolute;
    left: 100px;
    top: -1.5rem;
}

#items>div.selected:hover::after {
    content: "remove this accessory";
    padding: 5px 7px;
    background: red;
    font-size: 0.7rem;
    font-weight: bolder;
    color: #ffffff;
    position: absolute;
    left: 100px;
    top: -1.5rem;
}

#items .selected {
    color: #ffffff;
}

/*add accessory container end*/
/*CREATE ARTICLE END*/
/*FOOTER START*/

footer {
    margin-top: 20px;
    font-size: 0.8rem;
    background: #696969;
    padding: 10px;
    flex: 0 0 auto;
    flex-flow: row wrap;
    justify-content: space-around;
}

footer span {
    color: #ffffff;
}

footer .padded {
    margin-left: 15px;
}
