@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #eaf0f1;
}

h1 {
    text-align: center;
    background-color: #fff;
    padding: 30px;
}

.menu {
    justify-content: center;
    margin-bottom: 20px;
    background: #fff;
}

.menu li:not(:first-child) {
    margin-left: 20px;
}

.menu li:not(.spacer) {
    background: #696969;
    font-size: 1.1rem;
    color: #fff;
    padding: 7px 12px;
    border-radius: 10px 10px 0 0;
}

.menu li:not(.spacer):hover {
    background: #eaf0f1;
    color: #696969;
}

.menu li.selected {
    background: #eaf0f1;
    color: #696969;
}

.menu .spacer {
    width: 120px;
}

.avatar {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    margin: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.avatar-holder {
    position: relative;
}

.avatar-user-menu {
    width: 50px;
    position: absolute;
    top: -15px;
    right: -50px;
}

.login-form {
    width: 305px;
    margin-left: 60px;
}

.register-form .flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

fieldset {
    margin-left: 5%;
    width: 45%;
    border: 0;
}

.login-form p,
.register-form p {
    color: #f1457e;
}

.input-wrapper {
    margin: 20px 0;
}

label {
    display: inline-block;
    width: 100px;
}

.input-wrapper input {
    width: 200px;
    padding: 5px;
    border: solid 1px #696969;
    border-radius: 0 7px 7px 0;
    outline: none;
}

input[type="submit"] {
    background: #7988f1;
    border: 0;
    padding: 7px 12px;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.register-form input[type="submit"] {
    margin-left: auto;
    margin-right: calc(45% - 305px);
}

input[type="file"]{
    border: none;
}
