<article class="addAccessory-container">
    <div class="addAccessory-container-inner flex">
        <div><span id="close-btn" onclick="hideAccessoryForm()">x</span></div>

        <div class="input-wrapper-column">
            <label>Select accessory type: </label>
            <select name="accessoryType" onchange="getSelectedTypeItems(this)">
                <option value="" selected>Select accessory type</option>
                {{#each accessoryTypes}}
                    <option value="{{@index}}">{{this}}</option>
                {{/each}}
            </select>
        </div>

        <div id="items"></div>

        <div><span id="add-accessory-btn" onclick="stateController.addSelectedAccessories()">add selected accessories</span></div>
    </div>
</article>
