<article class="addAccessory-container">
    <div class="addAccessory-container-inner flex">
        <div><span id="close-btn" onclick="hideAccessoryForm()">x</span></div>
        <div><span id="add-category-btn" onclick="addCategoryToRequest(this)">add selected category</span></div>
    </div>
</article>